@{
    ViewData["Title"] = "Witaj na stronie domowej";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1>Strona stworzona przez Mateusza Bożka</h1>
    <h2>Dodałem nowy element w widoku</h2>
</div>
